Repository rilieo/pr-preview, changes with the labels that .github/labeler.yml gives for each.
All labels: preview, events, landing

add landing
  src/sections/landing/Landing.jsx
Labels: landing

remove g
  src/sections/landing/Landing.jsx
Labels: landing

show events
  src/App.jsx
Labels: none

Deploy preview for PR 18 🛫
  pr-preview/pr-18/assets/index-BROXw1sQ.js
  pr-preview/pr-18/assets/index-z9ouZq4C.js
  pr-preview/pr-18/index.html
Labels: none

change version
  .github/workflows/preview.yml
Labels: none

change back version
  .github/workflows/preview.yml
Labels: none

Update README.md
  README.md
Labels: preview

.github/labeler.yml:

preview:
- changed-files:
  - any-glob-to-any-file: '*'

events:
- changed-files:
  - any-glob-to-any-file: 'src/sections/events/**/*'

landing:
- changed-files:
  - any-glob-to-any-file: 'src/sections/landing/**/*'
