Repository rilieo/pr-preview, changes with the labels that .github/labeler.yml gives for each.
All labels: preview, events

.github/labeler.yml:

preview:
- changed-files:
  - any-glob-to-any-file: '*'

events:
- changed-files:
  - any-glob-to-any-file: 'src/sections/events/**/*'

afd
  .github/workflows/preview.yml
Labels: none

afd
  .github/workflows/preview.yml
Labels: none

fdas
  src/sections/events/Events.jsx
Labels: events

fda
  init
Labels: preview

Deploy preview for PR 16 🛫
  pr-preview/pr-16/assets/index-CyMvLwkT.js
  pr-preview/pr-16/assets/index-DiwrgTda.css
  pr-preview/pr-16/assets/react-CHdo91hT.svg
  pr-preview/pr-16/index.html
  pr-preview/pr-16/vite.svg
Labels: none

adfasf
  src/sections/events/Events.jsx
Labels: events

wth
  src/App.jsx
Labels: none

Deploy preview for PR 16 🛫
  pr-preview/pr-16/assets/index-VVJCGw73.js
  pr-preview/pr-16/index.html
Labels: none

boooooo
  src/App.jsx
Labels: none

Deploy preview for PR 16 🛫
  pr-preview/pr-16/assets/index-CENfD0Ja.js
  pr-preview/pr-16/index.html
Labels: none

Remove preview for PR 16 🛬
  pr-preview/pr-16/assets/index-CENfD0Ja.js
  pr-preview/pr-16/assets/index-DiwrgTda.css
  pr-preview/pr-16/assets/react-CHdo91hT.svg
  pr-preview/pr-16/index.html
  pr-preview/pr-16/vite.svg
Labels: none

Deploy preview for PR 17 🛫
  pr-preview/pr-17/assets/index-CENfD0Ja.js
  pr-preview/pr-17/assets/index-DiwrgTda.css
  pr-preview/pr-17/assets/react-CHdo91hT.svg
  pr-preview/pr-17/index.html
  pr-preview/pr-17/vite.svg
Labels: none

ur mom
  .github/workflows/preview.yml
Labels: none

boooooo
  src/App.jsx
Labels: none

fda
  init
Labels: preview

adfasf
  src/sections/events/Events.jsx
Labels: events

wth
  src/App.jsx
Labels: none

REPASFI
  .github/workflows/main.yml
  .github/workflows/preview.yml
Labels: none

REPASFI
  .github/workflows/main.yml
  .github/workflows/preview.yml
Labels: none

klvdjl
  .github/workflows/preview.yml
Labels: none

klvdjl
  .github/workflows/preview.yml
Labels: none

Update workflows
  .github/workflows/main.yml
  .github/workflows/preview.yml
Labels: none

Update description
  src/App.jsx
Labels: none

Deploy preview for PR 18 🛫
  pr-preview/pr-18/assets/index-DiwrgTda.css
  pr-preview/pr-18/assets/index-pKeVrSiJ.js
  pr-preview/pr-18/assets/react-CHdo91hT.svg
  pr-preview/pr-18/index.html
  pr-preview/pr-18/vite.svg
Labels: none

update
  .github/workflows/main.yml
Labels: none

update version
  .github/workflows/preview.yml
Labels: none

update version
  .github/workflows/preview.yml
Labels: none

change
  vite.config.js
Labels: preview

Deploy preview for PR 18 🛫
  pr-preview/pr-18/assets/index-MPtqRCZp.js
  pr-preview/pr-18/index.html
Labels: none

your mom
  src/App.jsx
Labels: none

Deploy preview for PR 18 🛫
  pr-preview/pr-18/assets/index-DMfNIIXT.js
  pr-preview/pr-18/index.html
Labels: none

doo
  package.json
Labels: preview

change back
  package.json
Labels: preview

event gone
  src/sections/events/Events.jsx
Labels: events

wa
  src/App.jsx
Labels: none

Deploy preview for PR 18 🛫
  pr-preview/pr-18/assets/index-BROXw1sQ.js
  pr-preview/pr-18/index.html
Labels: none
